<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Google Map</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div id="map"></div>
    <script src="js/main.js"></script>
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCmKNHWk1BI-vAcpDlwSyG1jxod4tHCDK4&callback=initMap">
        </script>
</body>

</html>